[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/baidyashree
[access "refs/for/refs/*"]
	read = group user/baidyashree
	push = group user/baidyashree
	label-Code-Review = -2..+2 group user/baidyashree
	label-Verified = -1..+1 group user/baidyashree
	rebase = group user/baidyashree
	removeReviewer = group user/baidyashree
	submit = group user/baidyashree
[access "refs/heads/*"]
	read = group user/baidyashree
	create = group user/baidyashree
	push = +force group user/baidyashree
	pushMerge = group user/baidyashree
[access "refs/tags/*"]
	push = group user/baidyashree
	push = +force group user/baidyashree
